
body{
    background-color: #000000;
    color: white;
}

button{
    color: #000000;
    background-color: aquamarine;
    font-size: 30px;
}

p{
    color: aquamarine;
    font-style: italic;
    font-size: 30px;
}

h1{
    font-size: 600%;
}